{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
      "__DEV__": false
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "standard", 
    "standard-react"
  ],
  "rules": {
  }
}